/* The lower section */
.sect-two {
  padding: 20px;
}

.sect-two h3 {
  margin-top: 20px;
  font-size: 17px;
}

.rec-con {
  display: flex;
  margin-top: 20px;
  padding: 20px 10px;
  border-radius: 10px;
  font-size: 15px;
  justify-content: center;
}

.reaction-con {
  background-color: #fff6f5;
}
.reaction-con p:nth-child(2) {
  color: #e75a60;
  font-weight: 600;
  margin-right: auto;
  padding-left: 10px;
}

.memory-con {
  background-color: #fffbf2;
}
.memory-con p:nth-child(2) {
  color: #e9c67c;
  font-weight: 600;
  margin-right: auto;
  padding-left: 10px;
}

.verbal-con {
  background-color: #f2fbfa;
}
.verbal-con p:nth-child(2) {
  color: #53b99b;
  font-weight: 600;
  margin-right: auto;
  padding-left: 10px;
}

.visual-con {
  background-color: #f3f3fd;
}
.visual-con p:nth-child(2) {
  color: #3744a8;
  font-weight: 600;
  margin-right: auto;
  padding-left: 10px;
}

.rec-con p:nth-child(3) {
  opacity: 0.8;
  font-weight: 500;
}

.rec-con p:nth-child(3) span {
  font-weight: 600;
}

button {
  width: 100%;
  margin-top: 20px;
  padding-block: 15px;
  border-radius: 50px;
  background-color: #303b59;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

@media screen and (min-width: 1440px) {
  main {
    display: flex;
    box-shadow: 10px 10px #f4f7fe;
    border-radius: 30px;
    width: 700px;
  }

  .sect-one {
    width: 50%;
    border-radius: 30px;
    height: 400px;
  }

  .sect-one h4 {
    margin-top: 20px;
  }

  .sect-one > p {
    width: 210px;
  }

  /* lower part media query */
  .sect-two {
    width: 50%;
    height: 400px;
    border-radius: 0px 30px 30px 0px;
    box-shadow: 10px 10px #f4f7fe;
    /* border: 2px solid red; */
  }

  .sect-two h3 {
    margin-top: 10px;
  }

  .rec-con {
    padding: 15px 10px;
    margin-top: 10px;
  }
}
